<h1> Greg's Multi-Skewb middle edge final rotation simulator</h1>
<h3> AKA I decided to do make an almost trivial step in solving a very complex puzzle into a simple webapp to practice my newfound coding skills</h3>
<div> What are the colors of the 'joker' edge piece? </div>
<div>&emsp;</div>



<select id="dd1" name="home_input" form="state">
  <option value="0">游린Red + 游릱Blue</option>
  <option value="1">游릱Blue + 游릲Orange</option>
  <option value="2">游릲Orange + 游릴Green</option>
  <option value="3">游릴Green + 游린Red</option>
</select>

<div>&emsp;</div>
<label for="back">What is the piece in the back?</label>
<select id="back" name="back" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="top_right">What is the piece in the top right?</label>
<select id="top_right" name="top_right" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="bottom_right">What is the piece in the bottom right?</label>
<select id="bottom_right" name="bottom_right" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="bottom_left">What is the piece in the bottom left?</label>
<select id="bottom_left" name="bottom_left" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>
<label for="top_left">What is the piece in the top left?</label>
<select id="top_left" name="top_left" form="state">
  <option value="游댭">游댭joker</option>
  <option value="游린">游린Red</option>
  <option value="游릱">游릱Blue</option>
  <option value="游릲">游릲Orange</option>
  <option value="游릴">游릴Green</option>
</select>
<div>&emsp;</div>

<form action="/state" id="state">
  <input id="name" type="text" name="blank">
  <button>Go to next step</button>   
</form>