<h1> Greg's Multi-Skewb middle edge final rotation simulator</h1>
<h3> AKA I decided to do make an almost trivial step in solving a very complex puzzle into a simple webapp to practice my newfound coding skills</h3>
<div> What are the colors of the 'joker' edge piece? </div>
<div>&emsp;</div>



<select id="dd1" name="home_input" form="home">
  <option value="0">游린Red + 游릱Blue</option>
  <option value="1">游릱Blue + 游릲Orange</option>
  <option value="2">游릲Orange + 游릴Green</option>
  <option value="3">游릴Green + 游린Red</option>
</select>

<form action="/target" id="home">
  <input id="name" type="text" name="blank">
  <button>Go to next step</button>   
</form>


<div>&emsp;</div>
<div>&emsp;&emsp;游릲游릲&emsp;&emsp;&emsp;&emsp;&emsp;游댭游댭&emsp;&emsp;</div>
<div>&emsp;&emsp;游릲游릲&emsp;&emsp;&emsp;&emsp;&emsp;游댭游댭&emsp;&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>
<div>&emsp;&emsp;游릴游릴&emsp;&emsp;&emsp;&emsp;&emsp;游릱游릱&emsp;&emsp;</div>
<div>&emsp;&emsp;游릴游릴&emsp;&emsp;&emsp;&emsp;&emsp;游릱游릱&emsp;&emsp;</div>
<div>&emsp;</div>
<div>&emsp;</div>